
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-dark">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">City</th>
            <th scope="col">Team Name</th>
            <th scope="col">State</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tm of teams">
            <th scope="row">{{tm.id}}</th>
            <td>{{tm.city}}</td>
            <td>{{tm.teamName}}</td>
            <td>{{tm.teamState}}</td>
            <td>{{tm.division}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
